header {
    background-color: darkolivegreen;
    color: whitesmoke;
    text-align: center;
}

main {
    background-color: lightgray;
}

body {
    background-image: url("record.png");
    background-repeat: repeat;
    margin: 0;
    padding: 1em;

}